Repository lab-brussels-1/hyf-redesign-group-1, pull requests merged in 2022-04, with the labels that each got.

#3 added shewit communication plan
  planning/README.md
  planning/backlog.md
  planning/communication-plan.md
  planning/development-strategy.md
  planning/screenshot.jpg
Labels: md

#6 availability of Ali
  planning/communication-plan.md
Labels: planning, md

#9 add my hours to the communication plan
  .cspell.json
  package-lock.json
  planning/communication-plan.md
Labels: planning, md, communication

#13 adding available time slot for Nazgul
  package-lock.json
  package.json
  planning/communication-plan.md
Labels: planning, md, communication

#17 added empty md files
  planning/README.md
  planning/backlog.md
  planning/constraints.md
  planning/design.md
  planning/development-strategy.md
  planning/retrospective.md
  planning/user-persona.md
Labels: planning

#19 Adding user-persona as technical director to user-persona.md
  planning/user-persona.md
Labels: planning, md, user-persona

#22 add user-persona about a potential coach/mentor
  planning/user-persona.md
Labels: planning, md

#24 User persona volunteer coach
  .cspell.json
  planning/user-persona.md
Labels: planning, md, user-persona

#27 Created development strategy
  planning/development-strategy.md
Labels: development-strategy, planning, md

#30 added backlog
  planning/backlog.md
Labels: planning

#31 adding wireframe-design
  planning/assets/hyf.png
  planning/design.md
Labels: planning

#36 Added few information to constraint
  planning/constraints.md
Labels: planning, md, constraint

#42 adding navbar
  .cspell.json
  assets/hack-your-future-belgium-logo.svg
  index.html
  styles/something.css
Labels: html, css

#46 added readme file
  planning/README.md
  planning/assets/code-example.png
  planning/assets/screenshot-hyf.png
  public/README.md
Labels: planning

#47 modefied readme file
  README.md
  assets/code-example.png
  assets/screenshot-hyf.png
  planning/README.md
Labels: planning, md

#51 created my part from the home page in index.html file
  .cspell.json
  .vscode/settings.json
  index.html
  planning/assets/our-program-1.jpeg
  styles/something.css
Labels: html, css

#53 add a footer
  index.html
  styles/something.css
Labels: html, css

#60 updated md-files with current changes
  README.md
  planning/backlog.md
  planning/communication-plan.md
  planning/constraints.md
Labels: planning

#62 Nazgul success
  assets/andrea-piacquadio.jpg
  index.html
  styles/something.css
Labels: html, css

#58 addin showcase
  .cspell.json
  assets/home-header.jpeg
  index.html
  styles/something.css
Labels: html, css

#64 adding modified showcase
  .cspell.json
  index.html
  styles/something.css
Labels: html, css

#59 added partners sec
  .DS_Store
  assets/agoria.png
  assets/antwerp-stad.jpeg
  assets/artevelde-hogeschool.svg
  assets/axxes.png
  assets/bruxelles-emploi.svg
  assets/bruxelles-formation.png
  assets/datacamp.png
  assets/digital-belgium.svg
  assets/dsjc.png
  assets/duo_logo.png
  assets/epitech.png
  assets/microsoft.svg
  assets/open-knowledge.svg
  assets/open-recognition-aliance.png
  assets/print-simple.svg
  assets/uxantwerp.png
  assets/vbo_feb.png
  index.html
Labels: html, css

#57 added support-donation section
  index.html
  styles/something.css
Labels: html, css

#70 create desing for feature program
  planning/assets/design2program.png
  planning/design.md
Labels: planning, md, design

#74 add contact form, css changes
  index.html
  styles/something.css
Labels: html, css

#67 added navbar- header-volunteer page
  pages/volunteer.html
  styles/v-style.css
Labels: html, css

#73 Create about.html page
  assets/commune.jpeg
  assets/daniel.jpeg
  assets/empowerment.jpeg
  assets/evan.jpeg
  assets/gelila.jpeg
  assets/hind.jpeg
  assets/hyfbe.jpeg
  assets/lizhen.jpeg
  assets/mission.webp
  assets/network.jpeg
  assets/team.jpeg
  assets/vision.webp
  assets/volunteer.png
  assets/yoshi.jpeg
  index.html
  pages/about.html
  planning/assets/aboutDesign.png
  planning/design.md
  styles/something.css
Labels: html, css

#78 added link to volunteer page
  index.html
Labels: html

#85 add a wireframe for the faw page
  planning/assets/faq-page.png
Labels: planning, design

#81 added footer and design-volunteer page
  index.html
  pages/volunteer.html
  planning/assets/volunteer-page-design.png
  planning/design.md
  styles/v-style.css
Labels: html, css

#86 Editing the cards
  index.html
  styles/something.css
Labels: html, css

#80 Navbar new
  .cspell.json
  index.html
  styles/something.css
Labels: html, css, navbar

#91 added information to the retrospective file
  planning/retrospective.md
Labels: planning, retrospective, md

#93 updated links of different pages
  .DS_Store
  .gitignore
  README.md
  assets/code-example2.png
  assets/hyf-redesign-1.png
  assets/hyf-redesign-p.png
  index.html
  pages/about.html
  pages/another-page.html
  pages/program.html
  pages/volunteer.html
  planning/assets/faq-page1.png
  planning/backlog.md
  planning/constraints.md
  planning/design.md
Labels: updating

#95 Contact form update
  index.html
  planning/communication-plan.md
  styles/something.css
Labels: html, css, updating
